<h1>Ingredient Sharer</h1>
<h2>A new way to connect with your neighbors via leftover groceries and spare ingredients.</h2>
<h3>How to use:</h3>
<ol>
	<li>
		<%= link_to 'Log in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %>.
	</li>
	<li>
		Write a new post.
		<ul>
			<li>
			Select whether you are requesting or offering.
			</li>
			<li>
			Write about what you need, or want to offer, in post title and description.
			</li>
			<li>
			Indicate where you would like to give/receive the mentioned ingredient.
			</li>
			<li>
			Give a TTL (Time-To-Live) of that request/offer, because it may be too late by the time you get them.
			</li>
		</ul>
	</li>
</ol>