/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-image: url('https://source.unsplash.com/category/food');
    background-size: cover;
    min-height: 100vh;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
}

h1 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.5rem;
    color: #181818;
    font-style: bold;
}

h2 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.55rem;
    color: #181818;
    font-family: 'Source Sans Pro', sans-serif;
}

div {
    width: 900px;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Source Sans Pro', sans-serif;
}

div th, div td {
    padding: 1px;
    text-align: left;
    border-collapse: collapse;
}

div#header {
    max-width: 100%;
    text-align: right;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.95);
    height: 30px;
    border: 1px solid #CCC;
    width: 100%;
    margin: 0px auto;
    font-size: 130%;
    float: right;
}

div#header th, div#header td {
    text-align: right; font-family: 'Source Sans Pro', sans-serif; font-size: 130%; vertical-align: top;
}

div#logo {
    margin: 0 auto;
    width: 100px;
}

div#notice {
    color: rgb(180, 0, 0);
    font-weight: bold;
    font-size: 175%;
    text-align: center;
    padding: 0.5rem;
}

a, a hover {
    text-color: rgba(0, 127, 255, 1.0);
    text-decoration: none;
}

div#post_fields {
    text-align: left;
    padding: 1rem;
    font-size: 1.5rem;
    font-style: bold;
    line-height: 1.5rem;
}

div#post_title {
    width: 900px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #181818;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-style: bold;
    text-align: center;
    padding: 1rem;
}

p#notice {
    font-color: magenta;
    font-size: larger;
    font-style: bold;
    background-color: rgba(255, 255, 255, 0.3);
}

